In [1]:
%matplotlib inline
import numpy as np
import pandas as pd
from pathlib import Path
import matplotlib.pyplot as plt
from sklearn.datasets import make_regression
from sklearn.linear_model import LinearRegression

In [2]:
Score_Genre_df = pd.read_csv("../../csv_file/Score_Genre.csv")
Score_Genre_df = Score_Genre_df.set_index('Key')
Score_Genre_df

,Hidden_Gem_Score,IMDb_Score,Rotten_Tomatoes_Score,Metacritic_Score,ACTION,DRAMA,SCI-FI,THRILLER,MYSTERY,HISTORY,...,BIOGRAPHY,FAMILY,MUSIC,MUSICAL,FANTASY,REALITY-TV,WAR,NEWS,TALK-SHOW,GAME-SHOW
Key,,,,,,,,,,,,,,,,,,,,,
5,16.0,61.0,8.0,29.0,0,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
6,25.0,68.0,36.0,48.0,0,1,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
8,36.0,75.0,81.0,62.0,0,1,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
15,42.0,83.0,89.0,78.0,0,1,0,1,0,0,...,0,0,0,0,0,0,1,0,0,0
16,37.0,63.0,91.0,70.0,0,1,0,1,1,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9411,31.0,65.0,63.0,61.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9412,12.0,44.0,4.0,26.0,1,0,1,0,0,0,...,0,1,0,0,1,0,0,0,0,0
9418,17.0,52.0,23.0,24.0,0,0,1,1,1,0,...,0,0,0,0,0,0,0,0,0,0
9419,42.0,85.0,93.0,75.0,1,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9420,45.0,82.0,98.0,92.0,0,0,0,0,0,0,...,0,1,0,0,1,0,0,0,0,0

In [3]:
# Empty column
Score_Genre_df = Score_Genre_df.drop(['SHORT WAR'], axis=1)

In [4]:
Score_Genre_df.rename(columns = {"SCI-FI": "SCI_FI", "REALITY-TV":"REALITY_TV","TALK-SHOW":"TALK_SHOW","GAME-SHOW":"GAME_SHOW"}, inplace = True)
Score_Genre_df

,Hidden_Gem_Score,IMDb_Score,Rotten_Tomatoes_Score,Metacritic_Score,ACTION,DRAMA,SCI_FI,THRILLER,MYSTERY,HISTORY,...,BIOGRAPHY,FAMILY,MUSIC,MUSICAL,FANTASY,REALITY_TV,WAR,NEWS,TALK_SHOW,GAME_SHOW
Key,,,,,,,,,,,,,,,,,,,,,
5,16.0,61.0,8.0,29.0,0,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
6,25.0,68.0,36.0,48.0,0,1,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
8,36.0,75.0,81.0,62.0,0,1,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
15,42.0,83.0,89.0,78.0,0,1,0,1,0,0,...,0,0,0,0,0,0,1,0,0,0
16,37.0,63.0,91.0,70.0,0,1,0,1,1,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9411,31.0,65.0,63.0,61.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9412,12.0,44.0,4.0,26.0,1,0,1,0,0,0,...,0,1,0,0,1,0,0,0,0,0
9418,17.0,52.0,23.0,24.0,0,0,1,1,1,0,...,0,0,0,0,0,0,0,0,0,0
9419,42.0,85.0,93.0,75.0,1,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9420,45.0,82.0,98.0,92.0,0,0,0,0,0,0,...,0,1,0,0,1,0,0,0,0,0

In [5]:
# Grabbing all column names to see all genre names
# Then giving each genre its own DataFrame
for col in Score_Genre_df.columns:
    print(col)

Hidden_Gem_Score
IMDb_Score
Rotten_Tomatoes_Score
Metacritic_Score
ACTION
DRAMA
SCI_FI
THRILLER
MYSTERY
HISTORY
CRIME
ADVENTURE
ANIMATION
COMEDY
ROMANCE
SPORT
HORROR
DOCUMENTARY
WESTERN
BIOGRAPHY
FAMILY
MUSIC
MUSICAL
FANTASY
REALITY_TV
WAR
NEWS
TALK_SHOW
GAME_SHOW

In [ ]:
# Action
Score_Genre_df_Action = Score_Genre_df.filter(['Hidden_Gem_Score','IMDb_Score','Rotten_Tomatoes_Score','Metacritic_Score', 'ACTION'])
Score_Genre_df_Action = Score_Genre_df_Action[Score_Genre_df_Action['ACTION']!= 0]
Score_Genre_df_Action

In [ ]:
# Drama
Score_Genre_df_Drama = Score_Genre_df.filter(['Hidden_Gem_Score','IMDb_Score','Rotten_Tomatoes_Score','Metacritic_Score', 'DRAMA'])
Score_Genre_df_Drama = Score_Genre_df_Drama[Score_Genre_df_Drama['DRAMA']!= 0]
Score_Genre_df_Drama

In [ ]:
# Science-Fiction
Score_Genre_df_SciFi = Score_Genre_df.filter(['Hidden_Gem_Score','IMDb_Score','Rotten_Tomatoes_Score','Metacritic_Score', 'SCI_FI'])
Score_Genre_df_SciFi = Score_Genre_df_SciFi[Score_Genre_df_SciFi['SCI_FI']!= 0]
Score_Genre_df_SciFi

In [ ]:
# Thriller
Score_Genre_df_Thriller = Score_Genre_df.filter(['Hidden_Gem_Score','IMDb_Score','Rotten_Tomatoes_Score','Metacritic_Score', 'THRILLER'])
Score_Genre_df_Thriller = Score_Genre_df_Thriller[Score_Genre_df_Thriller['THRILLER']!= 0]
Score_Genre_df_Thriller

In [ ]:
# MYSTERY
Score_Genre_df_Mystery = Score_Genre_df.filter(['Hidden_Gem_Score','IMDb_Score','Rotten_Tomatoes_Score','Metacritic_Score', 'MYSTERY'])
Score_Genre_df_Mystery = Score_Genre_df_Mystery[Score_Genre_df_Mystery['MYSTERY']!= 0]
Score_Genre_df_Mystery

In [ ]:
# History
Score_Genre_df_History = Score_Genre_df.filter(['Hidden_Gem_Score','IMDb_Score','Rotten_Tomatoes_Score','Metacritic_Score', 'HISTORY'])
Score_Genre_df_History = Score_Genre_df_History[Score_Genre_df_History['HISTORY']!= 0]
Score_Genre_df_History

In [ ]:
# Crime
Score_Genre_df_Crime = Score_Genre_df.filter(['Hidden_Gem_Score','IMDb_Score','Rotten_Tomatoes_Score','Metacritic_Score', 'CRIME'])
Score_Genre_df_Crime = Score_Genre_df_Crime[Score_Genre_df_Crime['CRIME']!= 0]
Score_Genre_df_Crime

In [ ]:
# Adventure
Score_Genre_df_Adventure = Score_Genre_df.filter(['Hidden_Gem_Score','IMDb_Score','Rotten_Tomatoes_Score','Metacritic_Score', 'ADVENTURE'])
Score_Genre_df_Adventure = Score_Genre_df_Adventure[Score_Genre_df_Adventure['ADVENTURE']!= 0]
Score_Genre_df_Adventure

In [ ]:
# Animation
Score_Genre_df_Animation = Score_Genre_df.filter(['Hidden_Gem_Score','IMDb_Score','Rotten_Tomatoes_Score','Metacritic_Score', 'ANIMATION'])
Score_Genre_df_Animation = Score_Genre_df_Animation[Score_Genre_df_Animation['ANIMATION']!= 0]
Score_Genre_df_Animation

In [ ]:
# Comedy
Score_Genre_df_Comedy = Score_Genre_df.filter(['Hidden_Gem_Score','IMDb_Score','Rotten_Tomatoes_Score','Metacritic_Score', 'COMEDY'])
Score_Genre_df_Comedy = Score_Genre_df_Comedy[Score_Genre_df_Comedy['COMEDY']!= 0]
Score_Genre_df_Comedy

In [6]:
# Romance
Score_Genre_df_Romance = Score_Genre_df.filter(['Hidden_Gem_Score','IMDb_Score','Rotten_Tomatoes_Score','Metacritic_Score', 'ROMANCE'])
Score_Genre_df_Romance = Score_Genre_df_Romance[Score_Genre_df_Romance['ROMANCE']!= 0]
Score_Genre_df_Romance

,Hidden_Gem_Score,IMDb_Score,Rotten_Tomatoes_Score,Metacritic_Score,ROMANCE
Key,,,,,
39,30.0,61.0,60.0,61.0,1
58,31.0,62.0,65.0,57.0,1
67,28.0,64.0,56.0,48.0,1
94,25.0,61.0,41.0,47.0,1
99,71.0,59.0,80.0,56.0,1
...,...,...,...,...,...
9357,44.0,84.0,98.0,79.0,1
9368,32.0,67.0,70.0,57.0,1
9385,31.0,65.0,65.0,56.0,1
9390,69.0,76.0,73.0,66.0,1
9410,16.0,52.0,14.0,30.0,1

In [7]:
# Sport
Score_Genre_df_Sport = Score_Genre_df.filter(['Hidden_Gem_Score','IMDb_Score','Rotten_Tomatoes_Score','Metacritic_Score', 'SPORT'])
Score_Genre_df_Sport = Score_Genre_df_Sport [Score_Genre_df_Sport ['SPORT']!= 0]
Score_Genre_df_Sport

,Hidden_Gem_Score,IMDb_Score,Rotten_Tomatoes_Score,Metacritic_Score,SPORT
Key,,,,,
8,36.0,75.0,81.0,62.0,1
67,28.0,64.0,56.0,48.0,1
260,40.0,69.0,92.0,76.0,1
418,34.0,68.0,68.0,65.0,1
419,34.0,68.0,68.0,65.0,1
...,...,...,...,...,...
9062,29.0,71.0,48.0,53.0,1
9164,21.0,67.0,20.0,41.0,1
9190,35.0,68.0,76.0,65.0,1
9228,30.0,63.0,61.0,59.0,1
9233,66.0,64.0,50.0,57.0,1

In [8]:
# Horror
Score_Genre_df_Horror = Score_Genre_df.filter(['Hidden_Gem_Score','IMDb_Score','Rotten_Tomatoes_Score','Metacritic_Score', 'HORROR'])
Score_Genre_df_Horror = Score_Genre_df_Horror[Score_Genre_df_Horror['HORROR']!= 0]
Score_Genre_df_Horror

,Hidden_Gem_Score,IMDb_Score,Rotten_Tomatoes_Score,Metacritic_Score,HORROR
Key,,,,,
16,37.0,63.0,91.0,70.0,1
34,39.0,74.0,89.0,69.0,1
35,31.0,65.0,68.0,52.0,1
36,22.0,50.0,40.0,45.0,1
37,29.0,53.0,68.0,53.0,1
...,...,...,...,...,...
9363,35.0,66.0,79.0,66.0,1
9404,27.0,48.0,70.0,44.0,1
9405,40.0,76.0,89.0,73.0,1
9406,32.0,67.0,68.0,55.0,1
9418,17.0,52.0,23.0,24.0,1