In [1]:
%matplotlib inline
import numpy as np
import pandas as pd
from pathlib import Path
import matplotlib.pyplot as plt
from sklearn.datasets import make_regression
from sklearn.linear_model import LinearRegression

In [3]:
Score_Genre_df = pd.read_csv("../../csv_file/Score_Genre.csv")
Score_Genre_df = Score_Genre_df.set_index('Key')
Score_Genre_df

,Hidden_Gem_Score,IMDb_Score,Rotten_Tomatoes_Score,Metacritic_Score,ACTION,DRAMA,SCI-FI,THRILLER,MYSTERY,HISTORY,...,BIOGRAPHY,FAMILY,MUSIC,MUSICAL,FANTASY,REALITY-TV,WAR,NEWS,TALK-SHOW,GAME-SHOW
Key,,,,,,,,,,,,,,,,,,,,,
5,16.0,61.0,8.0,29.0,0,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
6,25.0,68.0,36.0,48.0,0,1,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
8,36.0,75.0,81.0,62.0,0,1,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
15,42.0,83.0,89.0,78.0,0,1,0,1,0,0,...,0,0,0,0,0,0,1,0,0,0
16,37.0,63.0,91.0,70.0,0,1,0,1,1,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9411,31.0,65.0,63.0,61.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9412,12.0,44.0,4.0,26.0,1,0,1,0,0,0,...,0,1,0,0,1,0,0,0,0,0
9418,17.0,52.0,23.0,24.0,0,0,1,1,1,0,...,0,0,0,0,0,0,0,0,0,0
9419,42.0,85.0,93.0,75.0,1,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9420,45.0,82.0,98.0,92.0,0,0,0,0,0,0,...,0,1,0,0,1,0,0,0,0,0

In [4]:
# Grabbing all column names to see all genre names
# Then giving each genre its own DataFrame
for col in Score_Genre_df.columns:
    print(col)

Hidden_Gem_Score
IMDb_Score
Rotten_Tomatoes_Score
Metacritic_Score
ACTION
DRAMA
SCI-FI
THRILLER
MYSTERY
HISTORY
SHORT WAR
CRIME
ADVENTURE
ANIMATION
COMEDY
ROMANCE
SPORT
HORROR
DOCUMENTARY
WESTERN
BIOGRAPHY
FAMILY
MUSIC
MUSICAL
FANTASY
REALITY-TV
WAR
NEWS
TALK-SHOW
GAME-SHOW

In [7]:
# Action
Score_Genre_df_Action = Score_Genre_df.filter(['Hidden_Gem_Score','IMDb_Score','Rotten_Tomatoes_Score','Metacritic_Score', 'ACTION'])
Score_Genre_df_Action = Score_Genre_df_Action[Score_Genre_df_Action['ACTION']!= 0]
Score_Genre_df_Action

,Hidden_Gem_Score,IMDb_Score,Rotten_Tomatoes_Score,Metacritic_Score,ACTION
Key,,,,,
21,24.0,58.0,39.0,49.0,1
35,31.0,65.0,68.0,52.0,1
36,22.0,50.0,40.0,45.0,1
37,29.0,53.0,68.0,53.0,1
40,16.0,51.0,9.0,34.0,1
...,...,...,...,...,...
9379,43.0,74.0,76.0,63.0,1
9389,34.0,62.0,76.0,67.0,1
9406,32.0,67.0,68.0,55.0,1
9412,12.0,44.0,4.0,26.0,1
9419,42.0,85.0,93.0,75.0,1

In [9]:
#Drama
Score_Genre_df_Drama = Score_Genre_df.filter(['Hidden_Gem_Score','IMDb_Score','Rotten_Tomatoes_Score','Metacritic_Score', 'DRAMA'])
Score_Genre_df_Drama = Score_Genre_df_Drama[Score_Genre_df_Drama['DRAMA']!= 0]
Score_Genre_df_Drama

,Hidden_Gem_Score,IMDb_Score,Rotten_Tomatoes_Score,Metacritic_Score,DRAMA
Key,,,,,
5,16.0,61.0,8.0,29.0,1
6,25.0,68.0,36.0,48.0,1
8,36.0,75.0,81.0,62.0,1
15,42.0,83.0,89.0,78.0,1
16,37.0,63.0,91.0,70.0,1
...,...,...,...,...,...
9379,43.0,74.0,76.0,63.0,1
9380,26.0,63.0,44.0,51.0,1
9390,69.0,76.0,73.0,66.0,1
9392,43.0,74.0,91.0,95.0,1
9400,41.0,77.0,89.0,78.0,1

In [ ]:
#Science-Fiction
Score_Genre_df_Sci-Fi = Score_Genre_df.filter(['Hidden_Gem_Score','IMDb_Score','Rotten_Tomatoes_Score','Metacritic_Score', 'SCI-FI'])
Score_Genre_df_Sci-Fi = Score_Genre_df_Sci-Fi[Score_Genre_df_Drama['SCI-FI']!= 0]
Score_Genre_df_Sci-Fi