In [1]:
%matplotlib inline
import numpy as np
import pandas as pd
from pathlib import Path
import matplotlib.pyplot as plt
from sklearn.datasets import make_regression
from sklearn.linear_model import LinearRegression

In [2]:
Score_Genre_df = pd.read_csv("../../csv_file/Score_Genre.csv")
Score_Genre_df = Score_Genre_df.set_index('Key')
Score_Genre_df.head()

,Hidden_Gem_Score,IMDb_Score,Rotten_Tomatoes_Score,Metacritic_Score,ACTION,DRAMA,SCI-FI,THRILLER,MYSTERY,HISTORY,...,BIOGRAPHY,FAMILY,MUSIC,MUSICAL,FANTASY,REALITY-TV,WAR,NEWS,TALK-SHOW,GAME-SHOW
Key,,,,,,,,,,,,,,,,,,,,,
5,16.0,61.0,8.0,29.0,0,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
6,25.0,68.0,36.0,48.0,0,1,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
8,36.0,75.0,81.0,62.0,0,1,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
15,42.0,83.0,89.0,78.0,0,1,0,1,0,0,...,0,0,0,0,0,0,1,0,0,0
16,37.0,63.0,91.0,70.0,0,1,0,1,1,0,...,0,0,0,0,0,0,0,0,0,0

In [3]:
# Empty columns need to be dropped after merge
# Trial and error of making DataFrames found that these four columns were all null
Score_Genre_df = Score_Genre_df.drop(['SHORT WAR', 'REALITY-TV', 'TALK-SHOW', 'GAME-SHOW'], axis=1)

In [4]:
Score_Genre_df.rename(columns = {"SCI-FI": "SCI_FI"}, inplace = True)
Score_Genre_df

,Hidden_Gem_Score,IMDb_Score,Rotten_Tomatoes_Score,Metacritic_Score,ACTION,DRAMA,SCI_FI,THRILLER,MYSTERY,HISTORY,...,HORROR,DOCUMENTARY,WESTERN,BIOGRAPHY,FAMILY,MUSIC,MUSICAL,FANTASY,WAR,NEWS
Key,,,,,,,,,,,,,,,,,,,,,
5,16.0,61.0,8.0,29.0,0,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
6,25.0,68.0,36.0,48.0,0,1,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
8,36.0,75.0,81.0,62.0,0,1,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
15,42.0,83.0,89.0,78.0,0,1,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
16,37.0,63.0,91.0,70.0,0,1,0,1,1,0,...,1,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9411,31.0,65.0,63.0,61.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9412,12.0,44.0,4.0,26.0,1,0,1,0,0,0,...,0,0,0,0,1,0,0,1,0,0
9418,17.0,52.0,23.0,24.0,0,0,1,1,1,0,...,1,0,0,0,0,0,0,0,0,0
9419,42.0,85.0,93.0,75.0,1,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9420,45.0,82.0,98.0,92.0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,1,0,0

In [5]:
# Grabbing all column names to see all genre names
# Then giving each genre its own DataFrame
for col in Score_Genre_df.columns:
    print(col)

Hidden_Gem_Score
IMDb_Score
Rotten_Tomatoes_Score
Metacritic_Score
ACTION
DRAMA
SCI_FI
THRILLER
MYSTERY
HISTORY
CRIME
ADVENTURE
ANIMATION
COMEDY
ROMANCE
SPORT
HORROR
DOCUMENTARY
WESTERN
BIOGRAPHY
FAMILY
MUSIC
MUSICAL
FANTASY
WAR
NEWS

In [6]:
# Action
Score_Genre_df_Action = Score_Genre_df.filter(['Hidden_Gem_Score','IMDb_Score','Rotten_Tomatoes_Score','Metacritic_Score', 'ACTION'])
Score_Genre_df_Action = Score_Genre_df_Action[Score_Genre_df_Action['ACTION']!= 0]
Score_Genre_df_Action

,Hidden_Gem_Score,IMDb_Score,Rotten_Tomatoes_Score,Metacritic_Score,ACTION
Key,,,,,
21,24.0,58.0,39.0,49.0,1
35,31.0,65.0,68.0,52.0,1
36,22.0,50.0,40.0,45.0,1
37,29.0,53.0,68.0,53.0,1
40,16.0,51.0,9.0,34.0,1
...,...,...,...,...,...
9379,43.0,74.0,76.0,63.0,1
9389,34.0,62.0,76.0,67.0,1
9406,32.0,67.0,68.0,55.0,1
9412,12.0,44.0,4.0,26.0,1
9419,42.0,85.0,93.0,75.0,1

In [7]:
# Drama
Score_Genre_df_Drama = Score_Genre_df.filter(['Hidden_Gem_Score','IMDb_Score','Rotten_Tomatoes_Score','Metacritic_Score', 'DRAMA'])
Score_Genre_df_Drama = Score_Genre_df_Drama[Score_Genre_df_Drama['DRAMA']!= 0]
Score_Genre_df_Drama

,Hidden_Gem_Score,IMDb_Score,Rotten_Tomatoes_Score,Metacritic_Score,DRAMA
Key,,,,,
5,16.0,61.0,8.0,29.0,1
6,25.0,68.0,36.0,48.0,1
8,36.0,75.0,81.0,62.0,1
15,42.0,83.0,89.0,78.0,1
16,37.0,63.0,91.0,70.0,1
...,...,...,...,...,...
9379,43.0,74.0,76.0,63.0,1
9380,26.0,63.0,44.0,51.0,1
9390,69.0,76.0,73.0,66.0,1
9392,43.0,74.0,91.0,95.0,1
9400,41.0,77.0,89.0,78.0,1

In [8]:
# Science-Fiction
Score_Genre_df_SciFi = Score_Genre_df.filter(['Hidden_Gem_Score','IMDb_Score','Rotten_Tomatoes_Score','Metacritic_Score', 'SCI_FI'])
Score_Genre_df_SciFi = Score_Genre_df_SciFi[Score_Genre_df_SciFi['SCI_FI']!= 0]
Score_Genre_df_SciFi

,Hidden_Gem_Score,IMDb_Score,Rotten_Tomatoes_Score,Metacritic_Score,SCI_FI
Key,,,,,
21,24.0,58.0,39.0,49.0,1
35,31.0,65.0,68.0,52.0,1
37,29.0,53.0,68.0,53.0,1
50,41.0,80.0,89.0,74.0,1
78,42.0,85.0,93.0,75.0,1
...,...,...,...,...,...
9389,34.0,62.0,76.0,67.0,1
9405,40.0,76.0,89.0,73.0,1
9412,12.0,44.0,4.0,26.0,1
9418,17.0,52.0,23.0,24.0,1
9419,42.0,85.0,93.0,75.0,1

In [9]:
# Thriller
Score_Genre_df_Thriller = Score_Genre_df.filter(['Hidden_Gem_Score','IMDb_Score','Rotten_Tomatoes_Score','Metacritic_Score', 'THRILLER'])
Score_Genre_df_Thriller = Score_Genre_df_Thriller[Score_Genre_df_Thriller['THRILLER']!= 0]
Score_Genre_df_Thriller

,Hidden_Gem_Score,IMDb_Score,Rotten_Tomatoes_Score,Metacritic_Score,THRILLER
Key,,,,,
5,16.0,61.0,8.0,29.0,1
6,25.0,68.0,36.0,48.0,1
15,42.0,83.0,89.0,78.0,1
16,37.0,63.0,91.0,70.0,1
25,36.0,68.0,80.0,69.0,1
...,...,...,...,...,...
9363,35.0,66.0,79.0,66.0,1
9379,43.0,74.0,76.0,63.0,1
9392,43.0,74.0,91.0,95.0,1
9400,41.0,77.0,89.0,78.0,1
9418,17.0,52.0,23.0,24.0,1

In [10]:
# Mystery
Score_Genre_df_Mystery = Score_Genre_df.filter(['Hidden_Gem_Score','IMDb_Score','Rotten_Tomatoes_Score','Metacritic_Score', 'MYSTERY'])
Score_Genre_df_Mystery = Score_Genre_df_Mystery[Score_Genre_df_Mystery['MYSTERY']!= 0]
Score_Genre_df_Mystery

,Hidden_Gem_Score,IMDb_Score,Rotten_Tomatoes_Score,Metacritic_Score,MYSTERY
Key,,,,,
16,37.0,63.0,91.0,70.0,1
34,39.0,74.0,89.0,69.0,1
35,31.0,65.0,68.0,52.0,1
50,41.0,80.0,89.0,74.0,1
132,16.0,61.0,4.0,28.0,1
...,...,...,...,...,...
9291,23.0,40.0,49.0,51.0,1
9345,40.0,68.0,89.0,84.0,1
9363,35.0,66.0,79.0,66.0,1
9400,41.0,77.0,89.0,78.0,1
9418,17.0,52.0,23.0,24.0,1

In [11]:
# History
Score_Genre_df_History = Score_Genre_df.filter(['Hidden_Gem_Score','IMDb_Score','Rotten_Tomatoes_Score','Metacritic_Score', 'HISTORY'])
Score_Genre_df_History = Score_Genre_df_History[Score_Genre_df_History['HISTORY']!= 0]
Score_Genre_df_History

,Hidden_Gem_Score,IMDb_Score,Rotten_Tomatoes_Score,Metacritic_Score,HISTORY
Key,,,,,
6,25.0,68.0,36.0,48.0,1
25,36.0,68.0,80.0,69.0,1
40,16.0,51.0,9.0,34.0,1
53,28.0,66.0,50.0,54.0,1
54,45.0,81.0,95.0,96.0,1
...,...,...,...,...,...
9039,36.0,72.0,74.0,72.0,1
9077,33.0,72.0,63.0,65.0,1
9262,30.0,73.0,57.0,51.0,1
9281,32.0,59.0,67.0,66.0,1
9392,43.0,74.0,91.0,95.0,1

In [12]:
# Crime
Score_Genre_df_Crime = Score_Genre_df.filter(['Hidden_Gem_Score','IMDb_Score','Rotten_Tomatoes_Score','Metacritic_Score', 'CRIME'])
Score_Genre_df_Crime = Score_Genre_df_Crime[Score_Genre_df_Crime['CRIME']!= 0]
Score_Genre_df_Crime

,Hidden_Gem_Score,IMDb_Score,Rotten_Tomatoes_Score,Metacritic_Score,CRIME
Key,,,,,
5,16.0,61.0,8.0,29.0,1
6,25.0,68.0,36.0,48.0,1
16,37.0,63.0,91.0,70.0,1
25,36.0,68.0,80.0,69.0,1
51,21.0,56.0,30.0,38.0,1
...,...,...,...,...,...
9299,27.0,67.0,46.0,47.0,1
9305,17.0,45.0,17.0,37.0,1
9345,40.0,68.0,89.0,84.0,1
9363,35.0,66.0,79.0,66.0,1
9400,41.0,77.0,89.0,78.0,1

In [13]:
# Adventure
Score_Genre_df_Adventure = Score_Genre_df.filter(['Hidden_Gem_Score','IMDb_Score','Rotten_Tomatoes_Score','Metacritic_Score', 'ADVENTURE'])
Score_Genre_df_Adventure = Score_Genre_df_Adventure[Score_Genre_df_Adventure['ADVENTURE']!= 0]
Score_Genre_df_Adventure

,Hidden_Gem_Score,IMDb_Score,Rotten_Tomatoes_Score,Metacritic_Score,ADVENTURE
Key,,,,,
21,24.0,58.0,39.0,49.0,1
35,31.0,65.0,68.0,52.0,1
36,22.0,50.0,40.0,45.0,1
37,29.0,53.0,68.0,53.0,1
40,16.0,51.0,9.0,34.0,1
...,...,...,...,...,...
9389,34.0,62.0,76.0,67.0,1
9405,40.0,76.0,89.0,73.0,1
9406,32.0,67.0,68.0,55.0,1
9412,12.0,44.0,4.0,26.0,1
9420,45.0,82.0,98.0,92.0,1

In [14]:
# Animation
Score_Genre_df_Animation = Score_Genre_df.filter(['Hidden_Gem_Score','IMDb_Score','Rotten_Tomatoes_Score','Metacritic_Score', 'ANIMATION'])
Score_Genre_df_Animation = Score_Genre_df_Animation[Score_Genre_df_Animation['ANIMATION']!= 0]
Score_Genre_df_Animation

,Hidden_Gem_Score,IMDb_Score,Rotten_Tomatoes_Score,Metacritic_Score,ANIMATION
Key,,,,,
224,52.0,73.0,81.0,65.0,1
272,45.0,69.0,96.0,79.0,1
327,35.0,70.0,81.0,61.0,1
445,27.0,68.0,44.0,50.0,1
478,18.0,52.0,18.0,36.0,1
...,...,...,...,...,...
9267,23.0,59.0,34.0,45.0,1
9324,16.0,46.0,12.0,35.0,1
9357,44.0,84.0,98.0,79.0,1
9388,77.0,70.0,75.0,64.0,1
9420,45.0,82.0,98.0,92.0,1

In [15]:
# Comedy
Score_Genre_df_Comedy = Score_Genre_df.filter(['Hidden_Gem_Score','IMDb_Score','Rotten_Tomatoes_Score','Metacritic_Score', 'COMEDY'])
Score_Genre_df_Comedy = Score_Genre_df_Comedy[Score_Genre_df_Comedy['COMEDY']!= 0]
Score_Genre_df_Comedy

,Hidden_Gem_Score,IMDb_Score,Rotten_Tomatoes_Score,Metacritic_Score,COMEDY
Key,,,,,
39,30.0,61.0,60.0,61.0,1
55,55.0,74.0,96.0,77.0,1
58,31.0,62.0,65.0,57.0,1
67,28.0,64.0,56.0,48.0,1
85,41.0,73.0,88.0,83.0,1
...,...,...,...,...,...
9406,32.0,67.0,68.0,55.0,1
9410,16.0,52.0,14.0,30.0,1
9411,31.0,65.0,63.0,61.0,1
9412,12.0,44.0,4.0,26.0,1
9420,45.0,82.0,98.0,92.0,1

In [16]:
# Romance
Score_Genre_df_Romance = Score_Genre_df.filter(['Hidden_Gem_Score','IMDb_Score','Rotten_Tomatoes_Score','Metacritic_Score', 'ROMANCE'])
Score_Genre_df_Romance = Score_Genre_df_Romance[Score_Genre_df_Romance['ROMANCE']!= 0]
Score_Genre_df_Romance

,Hidden_Gem_Score,IMDb_Score,Rotten_Tomatoes_Score,Metacritic_Score,ROMANCE
Key,,,,,
39,30.0,61.0,60.0,61.0,1
58,31.0,62.0,65.0,57.0,1
67,28.0,64.0,56.0,48.0,1
94,25.0,61.0,41.0,47.0,1
99,71.0,59.0,80.0,56.0,1
...,...,...,...,...,...
9357,44.0,84.0,98.0,79.0,1
9368,32.0,67.0,70.0,57.0,1
9385,31.0,65.0,65.0,56.0,1
9390,69.0,76.0,73.0,66.0,1
9410,16.0,52.0,14.0,30.0,1

In [17]:
# Sport
Score_Genre_df_Sport = Score_Genre_df.filter(['Hidden_Gem_Score','IMDb_Score','Rotten_Tomatoes_Score','Metacritic_Score', 'SPORT'])
Score_Genre_df_Sport = Score_Genre_df_Sport [Score_Genre_df_Sport ['SPORT']!= 0]
Score_Genre_df_Sport

,Hidden_Gem_Score,IMDb_Score,Rotten_Tomatoes_Score,Metacritic_Score,SPORT
Key,,,,,
8,36.0,75.0,81.0,62.0,1
67,28.0,64.0,56.0,48.0,1
260,40.0,69.0,92.0,76.0,1
418,34.0,68.0,68.0,65.0,1
419,34.0,68.0,68.0,65.0,1
...,...,...,...,...,...
9062,29.0,71.0,48.0,53.0,1
9164,21.0,67.0,20.0,41.0,1
9190,35.0,68.0,76.0,65.0,1
9228,30.0,63.0,61.0,59.0,1
9233,66.0,64.0,50.0,57.0,1

In [18]:
# Horror
Score_Genre_df_Horror = Score_Genre_df.filter(['Hidden_Gem_Score','IMDb_Score','Rotten_Tomatoes_Score','Metacritic_Score', 'HORROR'])
Score_Genre_df_Horror = Score_Genre_df_Horror[Score_Genre_df_Horror['HORROR']!= 0]
Score_Genre_df_Horror

,Hidden_Gem_Score,IMDb_Score,Rotten_Tomatoes_Score,Metacritic_Score,HORROR
Key,,,,,
16,37.0,63.0,91.0,70.0,1
34,39.0,74.0,89.0,69.0,1
35,31.0,65.0,68.0,52.0,1
36,22.0,50.0,40.0,45.0,1
37,29.0,53.0,68.0,53.0,1
...,...,...,...,...,...
9363,35.0,66.0,79.0,66.0,1
9404,27.0,48.0,70.0,44.0,1
9405,40.0,76.0,89.0,73.0,1
9406,32.0,67.0,68.0,55.0,1
9418,17.0,52.0,23.0,24.0,1

In [19]:
# Documentary
Score_Genre_df_Documentary = Score_Genre_df.filter(['Hidden_Gem_Score','IMDb_Score','Rotten_Tomatoes_Score','Metacritic_Score', 'DOCUMENTARY'])
Score_Genre_df_Documentary = Score_Genre_df_Documentary[Score_Genre_df_Documentary['DOCUMENTARY']!= 0]
Score_Genre_df_Documentary

,Hidden_Gem_Score,IMDb_Score,Rotten_Tomatoes_Score,Metacritic_Score,DOCUMENTARY
Key,,,,,
63,44.0,83.0,97.0,83.0,1
80,43.0,74.0,99.0,83.0,1
251,81.0,73.0,76.0,70.0,1
460,76.0,66.0,69.0,70.0,1
490,38.0,69.0,82.0,78.0,1
...,...,...,...,...,...
9107,84.0,75.0,94.0,80.0,1
9124,40.0,76.0,89.0,75.0,1
9204,82.0,54.0,98.0,79.0,1
9240,42.0,84.0,88.0,79.0,1
9273,44.0,84.0,97.0,85.0,1

In [20]:
# Western
Score_Genre_df_Western = Score_Genre_df.filter(['Hidden_Gem_Score','IMDb_Score','Rotten_Tomatoes_Score','Metacritic_Score', 'WESTERN'])
Score_Genre_df_Western = Score_Genre_df_Western[Score_Genre_df_Western['WESTERN']!= 0]
Score_Genre_df_Western

,Hidden_Gem_Score,IMDb_Score,Rotten_Tomatoes_Score,Metacritic_Score,WESTERN
Key,,,,,
105,40.0,77.0,89.0,76.0,1
194,41.0,80.0,98.0,65.0,1
244,23.0,61.0,33.0,44.0,1
661,23.0,59.0,32.0,49.0,1
802,35.0,74.0,80.0,55.0,1
...,...,...,...,...,...
8733,42.0,76.0,95.0,80.0,1
8734,46.0,60.0,79.0,75.0,1
8869,44.0,82.0,96.0,85.0,1
9220,18.0,50.0,17.0,38.0,1
9299,27.0,67.0,46.0,47.0,1

In [21]:
# Biography
Score_Genre_df_Biography = Score_Genre_df.filter(['Hidden_Gem_Score','IMDb_Score','Rotten_Tomatoes_Score','Metacritic_Score', 'BIOGRAPHY'])
Score_Genre_df_Biography = Score_Genre_df_Biography[Score_Genre_df_Biography['BIOGRAPHY']!= 0]
Score_Genre_df_Biography

,Hidden_Gem_Score,IMDb_Score,Rotten_Tomatoes_Score,Metacritic_Score,BIOGRAPHY
Key,,,,,
8,36.0,75.0,81.0,62.0,1
54,45.0,81.0,95.0,96.0,1
56,42.0,75.0,93.0,82.0,1
80,43.0,74.0,99.0,83.0,1
160,38.0,82.0,74.0,72.0,1
...,...,...,...,...,...
9232,16.0,55.0,13.0,28.0,1
9262,30.0,73.0,57.0,51.0,1
9273,44.0,84.0,97.0,85.0,1
9299,27.0,67.0,46.0,47.0,1
9380,26.0,63.0,44.0,51.0,1

In [22]:
# Family
Score_Genre_df_Family = Score_Genre_df.filter(['Hidden_Gem_Score','IMDb_Score','Rotten_Tomatoes_Score','Metacritic_Score', 'FAMILY'])
Score_Genre_df_Family = Score_Genre_df_Family[Score_Genre_df_Family['FAMILY']!= 0]
Score_Genre_df_Family

,Hidden_Gem_Score,IMDb_Score,Rotten_Tomatoes_Score,Metacritic_Score,FAMILY
Key,,,,,
179,16.0,59.0,12.0,25.0,1
188,25.0,72.0,35.0,43.0,1
189,29.0,67.0,59.0,50.0,1
203,22.0,58.0,35.0,41.0,1
224,52.0,73.0,81.0,65.0,1
...,...,...,...,...,...
9388,77.0,70.0,75.0,64.0,1
9389,34.0,62.0,76.0,67.0,1
9410,16.0,52.0,14.0,30.0,1
9412,12.0,44.0,4.0,26.0,1
9420,45.0,82.0,98.0,92.0,1

In [23]:
# Music
Score_Genre_df_Music = Score_Genre_df.filter(['Hidden_Gem_Score','IMDb_Score','Rotten_Tomatoes_Score','Metacritic_Score', 'MUSIC'])
Score_Genre_df_Music = Score_Genre_df_Music[Score_Genre_df_Music['MUSIC']!= 0]
Score_Genre_df_Music

,Hidden_Gem_Score,IMDb_Score,Rotten_Tomatoes_Score,Metacritic_Score,MUSIC
Key,,,,,
80,43.0,74.0,99.0,83.0,1
149,37.0,71.0,75.0,77.0,1
150,36.0,71.0,79.0,64.0,1
252,16.0,63.0,9.0,26.0,1
279,42.0,76.0,90.0,88.0,1
...,...,...,...,...,...
9178,41.0,79.0,94.0,75.0,1
9183,35.0,76.0,77.0,56.0,1
9216,41.0,72.0,92.0,80.0,1
9227,39.0,78.0,90.0,67.0,1
9321,31.0,68.0,64.0,55.0,1

In [24]:
# Musical
Score_Genre_df_Musical = Score_Genre_df.filter(['Hidden_Gem_Score','IMDb_Score','Rotten_Tomatoes_Score','Metacritic_Score', 'MUSICAL'])
Score_Genre_df_Musical = Score_Genre_df_Musical[Score_Genre_df_Musical['MUSICAL']!= 0]
Score_Genre_df_Musical

,Hidden_Gem_Score,IMDb_Score,Rotten_Tomatoes_Score,Metacritic_Score,MUSICAL
Key,,,,,
150,36.0,71.0,79.0,64.0,1
445,27.0,68.0,44.0,50.0,1
553,36.0,72.0,86.0,61.0,1
586,41.0,75.0,96.0,77.0,1
593,33.0,60.0,77.0,63.0,1
...,...,...,...,...,...
8612,64.0,65.0,55.0,58.0,1
8726,32.0,65.0,75.0,55.0,1
8727,30.0,61.0,70.0,51.0,1
9183,35.0,76.0,77.0,56.0,1
9227,39.0,78.0,90.0,67.0,1

In [25]:
# Fantasy
Score_Genre_df_Fantasy = Score_Genre_df.filter(['Hidden_Gem_Score','IMDb_Score','Rotten_Tomatoes_Score','Metacritic_Score', 'FANTASY'])
Score_Genre_df_Fantasy = Score_Genre_df_Fantasy[Score_Genre_df_Fantasy['FANTASY']!= 0]
Score_Genre_df_Fantasy

,Hidden_Gem_Score,IMDb_Score,Rotten_Tomatoes_Score,Metacritic_Score,FANTASY
Key,,,,,
35,31.0,65.0,68.0,52.0,1
36,22.0,50.0,40.0,45.0,1
37,29.0,53.0,68.0,53.0,1
40,16.0,51.0,9.0,34.0,1
58,31.0,62.0,65.0,57.0,1
...,...,...,...,...,...
9389,34.0,62.0,76.0,67.0,1
9405,40.0,76.0,89.0,73.0,1
9410,16.0,52.0,14.0,30.0,1
9412,12.0,44.0,4.0,26.0,1
9420,45.0,82.0,98.0,92.0,1

In [26]:
# War
Score_Genre_df_War = Score_Genre_df.filter(['Hidden_Gem_Score','IMDb_Score','Rotten_Tomatoes_Score','Metacritic_Score', 'WAR'])
Score_Genre_df_War = Score_Genre_df_War[Score_Genre_df_War['WAR']!= 0]
Score_Genre_df_War

,Hidden_Gem_Score,IMDb_Score,Rotten_Tomatoes_Score,Metacritic_Score,WAR
Key,,,,,
15,42.0,83.0,89.0,78.0,1
53,28.0,66.0,50.0,54.0,1
59,29.0,73.0,51.0,48.0,1
169,34.0,74.0,64.0,63.0,1
255,33.0,68.0,72.0,60.0,1
...,...,...,...,...,...
9175,32.0,66.0,68.0,57.0,1
9263,41.0,74.0,93.0,76.0,1
9269,41.0,74.0,93.0,76.0,1
9390,69.0,76.0,73.0,66.0,1
9392,43.0,74.0,91.0,95.0,1

In [27]:
# News
Score_Genre_df_News = Score_Genre_df.filter(['Hidden_Gem_Score','IMDb_Score','Rotten_Tomatoes_Score','Metacritic_Score', 'NEWS'])
Score_Genre_df_News = Score_Genre_df_News[Score_Genre_df_News['NEWS']!= 0]
Score_Genre_df_News

,Hidden_Gem_Score,IMDb_Score,Rotten_Tomatoes_Score,Metacritic_Score,NEWS
Key,,,,,
63,44.0,83.0,97.0,83.0,1
1096,44.0,81.0,98.0,83.0,1
1391,40.0,74.0,90.0,76.0,1
3089,76.0,66.0,50.0,56.0,1
5955,81.0,67.0,86.0,68.0,1
8281,51.0,81.0,100.0,84.0,1