In [6]:
%matplotlib inline
import numpy as np
import pandas as pd
from pathlib import Path
import matplotlib.pyplot as plt
from sklearn.datasets import make_regression
from sklearn.linear_model import LinearRegression

In [7]:
Score_Genre_df = pd.read_csv("../../csv_file/Score_Genre.csv")
Score_Genre_df = Score_Genre_df.set_index('Key')
Score_Genre_df

,Hidden_Gem_Score,IMDb_Score,Rotten_Tomatoes_Score,Metacritic_Score,ACTION,DRAMA,SCI-FI,THRILLER,MYSTERY,HISTORY,...,BIOGRAPHY,FAMILY,MUSIC,MUSICAL,FANTASY,REALITY-TV,WAR,NEWS,TALK-SHOW,GAME-SHOW
Key,,,,,,,,,,,,,,,,,,,,,
5,16.0,61.0,8.0,29.0,0,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
6,25.0,68.0,36.0,48.0,0,1,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
8,36.0,75.0,81.0,62.0,0,1,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
15,42.0,83.0,89.0,78.0,0,1,0,1,0,0,...,0,0,0,0,0,0,1,0,0,0
16,37.0,63.0,91.0,70.0,0,1,0,1,1,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9411,31.0,65.0,63.0,61.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9412,12.0,44.0,4.0,26.0,1,0,1,0,0,0,...,0,1,0,0,1,0,0,0,0,0
9418,17.0,52.0,23.0,24.0,0,0,1,1,1,0,...,0,0,0,0,0,0,0,0,0,0
9419,42.0,85.0,93.0,75.0,1,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9420,45.0,82.0,98.0,92.0,0,0,0,0,0,0,...,0,1,0,0,1,0,0,0,0,0

In [10]:
Score_Genre_df.rename(columns = {"SCI-FI": "SCI_FI", "REALITY-TV":"REALITY_TV", "SHORT WAR":"SHORT_WAR","TALK-SHOW":"TALK_SHOW","GAME-SHOW":"GAME_SHOW"}, inplace = True)
Score_Genre_df

,Hidden_Gem_Score,IMDb_Score,Rotten_Tomatoes_Score,Metacritic_Score,ACTION,DRAMA,SCI_FI,THRILLER,MYSTERY,HISTORY,...,BIOGRAPHY,FAMILY,MUSIC,MUSICAL,FANTASY,REALITY_TV,WAR,NEWS,TALK_SHOW,GAME_SHOW
Key,,,,,,,,,,,,,,,,,,,,,
5,16.0,61.0,8.0,29.0,0,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
6,25.0,68.0,36.0,48.0,0,1,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
8,36.0,75.0,81.0,62.0,0,1,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
15,42.0,83.0,89.0,78.0,0,1,0,1,0,0,...,0,0,0,0,0,0,1,0,0,0
16,37.0,63.0,91.0,70.0,0,1,0,1,1,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9411,31.0,65.0,63.0,61.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9412,12.0,44.0,4.0,26.0,1,0,1,0,0,0,...,0,1,0,0,1,0,0,0,0,0
9418,17.0,52.0,23.0,24.0,0,0,1,1,1,0,...,0,0,0,0,0,0,0,0,0,0
9419,42.0,85.0,93.0,75.0,1,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9420,45.0,82.0,98.0,92.0,0,0,0,0,0,0,...,0,1,0,0,1,0,0,0,0,0

In [11]:
# Grabbing all column names to see all genre names
# Then giving each genre its own DataFrame
for col in Score_Genre_df.columns:
    print(col)

Hidden_Gem_Score
IMDb_Score
Rotten_Tomatoes_Score
Metacritic_Score
ACTION
DRAMA
SCI_FI
THRILLER
MYSTERY
HISTORY
SHORT_WAR
CRIME
ADVENTURE
ANIMATION
COMEDY
ROMANCE
SPORT
HORROR
DOCUMENTARY
WESTERN
BIOGRAPHY
FAMILY
MUSIC
MUSICAL
FANTASY
REALITY_TV
WAR
NEWS
TALK_SHOW
GAME_SHOW

In [ ]:
# Action
Score_Genre_df_Action = Score_Genre_df.filter(['Hidden_Gem_Score','IMDb_Score','Rotten_Tomatoes_Score','Metacritic_Score', 'ACTION'])
Score_Genre_df_Action = Score_Genre_df_Action[Score_Genre_df_Action['ACTION']!= 0]
Score_Genre_df_Action

In [ ]:
#Drama
Score_Genre_df_Drama = Score_Genre_df.filter(['Hidden_Gem_Score','IMDb_Score','Rotten_Tomatoes_Score','Metacritic_Score', 'DRAMA'])
Score_Genre_df_Drama = Score_Genre_df_Drama[Score_Genre_df_Drama['DRAMA']!= 0]
Score_Genre_df_Drama

In [ ]:
#Science-Fiction
Score_Genre_df_Sci-Fi = Score_Genre_df.filter(['Hidden_Gem_Score','IMDb_Score','Rotten_Tomatoes_Score','Metacritic_Score', 'SCI-FI'])
Score_Genre_df_Sci-Fi = Score_Genre_df_Sci-Fi[Score_Genre_df_Drama['SCI-FI']!= 0]
Score_Genre_df_Sci-Fi