In [2]:
%matplotlib inline
import numpy as np
import pandas as pd
from pathlib import Path
import matplotlib.pyplot as plt

In [3]:
ScoreGenreEarnings = pd.read_csv("../../csv_file/Netflix_data_ML.csv")
Titles = pd.read_excel('../../Excel Sheets/Netflix Dataset Latest 2021 Filtered - Data_Ready_for_DF.xlsx', engine='openpyxl')
Box_Office_df = pd.read_csv("../../csv_file/key_Boxoffice.csv")

In [4]:
Score_Genre_Earnings_Titles_df = pd.merge(ScoreGenreEarnings, Titles, on = 'Key')
Score_Genre_Earnings_Titles_df = Score_Genre_Earnings_Titles_df.set_index('Key')
Score_Genre_Earnings_Titles_df

,Hidden Gem Score,IMDb Score,Rotten Tomatoes Score,Metacritic Score,Title,Series or Movie,Release Date
Key,,,,,,,
5,1.6,6.1,8.0,29.0,13,Movie,2010-03-01
6,2.5,6.8,36.0,48.0,21,Movie,2008-03-28
8,3.6,7.5,81.0,62.0,42,Movie,2013-04-12
15,4.2,8.3,89.0,78.0,1917,Movie,2020-01-10
16,3.7,6.3,91.0,70.0,1922,Movie,2017-10-20
...,...,...,...,...,...,...,...
9411,3.1,6.5,63.0,61.0,Zoolander,Movie,2001-09-28
9412,1.2,4.4,4.0,26.0,Zoom: Academy for Superheroes,Movie,2006-08-11
9418,1.7,5.2,23.0,24.0,Викинг 18+,Movie,2011-09-02
9419,4.2,8.5,93.0,75.0,Честное пионерское 2,Movie,1991-07-03
9420,4.5,8.2,98.0,92.0,Честное пионерское 3,Movie,2010-06-18

In [5]:
Box_Office_df.rename(columns = 
                      {'Title':'Box_Office_Earnings'}, 
                      inplace = True)
Score_Genre_Earnings_Titles_df.rename(columns = 
                      {'Hidden Gem Score':'Hidden_Gem_Score', 
                       'IMDb Score':'IMDb_Score', 
                       'Rotten Tomatoes Score':'Rotten_Tomatoes_Score', 
                       'Metacritic Score':'Metacritic_Score'}, 
                      inplace = True)
Score_Genre_Earnings_Titles_df

,Hidden_Gem_Score,IMDb_Score,Rotten_Tomatoes_Score,Metacritic_Score,Title,Series or Movie,Release Date
Key,,,,,,,
5,1.6,6.1,8.0,29.0,13,Movie,2010-03-01
6,2.5,6.8,36.0,48.0,21,Movie,2008-03-28
8,3.6,7.5,81.0,62.0,42,Movie,2013-04-12
15,4.2,8.3,89.0,78.0,1917,Movie,2020-01-10
16,3.7,6.3,91.0,70.0,1922,Movie,2017-10-20
...,...,...,...,...,...,...,...
9411,3.1,6.5,63.0,61.0,Zoolander,Movie,2001-09-28
9412,1.2,4.4,4.0,26.0,Zoom: Academy for Superheroes,Movie,2006-08-11
9418,1.7,5.2,23.0,24.0,Викинг 18+,Movie,2011-09-02
9419,4.2,8.5,93.0,75.0,Честное пионерское 2,Movie,1991-07-03
9420,4.5,8.2,98.0,92.0,Честное пионерское 3,Movie,2010-06-18

In [6]:
Score_Genre_Earnings_Titles_df = pd.merge(Score_Genre_Earnings_Titles_df, Box_Office_df, on = 'Key')
Score_Genre_Earnings_Titles_df = Score_Genre_Earnings_Titles_df.set_index('Key')
Score_Genre_Earnings_Titles_df

,Hidden_Gem_Score,IMDb_Score,Rotten_Tomatoes_Score,Metacritic_Score,Title,Series or Movie,Release Date,Box_Office_Earnings
Key,,,,,,,,
5,1.6,6.1,8.0,29.0,13,Movie,2010-03-01,0.0
6,2.5,6.8,36.0,48.0,21,Movie,2008-03-28,81159365.0
8,3.6,7.5,81.0,62.0,42,Movie,2013-04-12,95020213.0
15,4.2,8.3,89.0,78.0,1917,Movie,2020-01-10,159227644.0
16,3.7,6.3,91.0,70.0,1922,Movie,2017-10-20,0.0
...,...,...,...,...,...,...,...,...
9411,3.1,6.5,63.0,61.0,Zoolander,Movie,2001-09-28,45172250.0
9412,1.2,4.4,4.0,26.0,Zoom: Academy for Superheroes,Movie,2006-08-11,11989328.0
9418,1.7,5.2,23.0,24.0,Викинг 18+,Movie,2011-09-02,17687709.0
9419,4.2,8.5,93.0,75.0,Честное пионерское 2,Movie,1991-07-03,205881154.0
9420,4.5,8.2,98.0,92.0,Честное пионерское 3,Movie,2010-06-18,415004880.0

In [7]:
Score_Genre_Earnings_Titles_df = Score_Genre_Earnings_Titles_df.drop(['Series or Movie'], axis=1)

In [8]:
for col in Score_Genre_Earnings_Titles_df.columns:
    print(col)

Hidden_Gem_Score
IMDb_Score
Rotten_Tomatoes_Score
Metacritic_Score
Title
Release Date
Box_Office_Earnings

In [9]:
Score_Genre_Earnings_Titles_df["IMDb_Score"] = 10 * Score_Genre_Earnings_Titles_df["IMDb_Score"]
Score_Genre_Earnings_Titles_df["Hidden_Gem_Score"] = 10 * Score_Genre_Earnings_Titles_df["Hidden_Gem_Score"]

In [10]:
Score_Genre_Earnings_Titles_df = Score_Genre_Earnings_Titles_df[Score_Genre_Earnings_Titles_df['Box_Office_Earnings']!=0]

In [11]:
Score_Genre_Earnings_Titles_df

,Hidden_Gem_Score,IMDb_Score,Rotten_Tomatoes_Score,Metacritic_Score,Title,Release Date,Box_Office_Earnings
Key,,,,,,,
6,25.0,68.0,36.0,48.0,21,2008-03-28,81159365.0
8,36.0,75.0,81.0,62.0,42,2013-04-12,95020213.0
15,42.0,83.0,89.0,78.0,1917,2020-01-10,159227644.0
21,24.0,58.0,39.0,49.0,2012,2009-11-13,166112167.0
35,31.0,65.0,68.0,52.0,[REC] 2,2009-10-02,27766.0
...,...,...,...,...,...,...,...
9411,31.0,65.0,63.0,61.0,Zoolander,2001-09-28,45172250.0
9412,12.0,44.0,4.0,26.0,Zoom: Academy for Superheroes,2006-08-11,11989328.0
9418,17.0,52.0,23.0,24.0,Викинг 18+,2011-09-02,17687709.0
9419,42.0,85.0,93.0,75.0,Честное пионерское 2,1991-07-03,205881154.0
9420,45.0,82.0,98.0,92.0,Честное пионерское 3,2010-06-18,415004880.0

In [13]:
file_path = "../../csv_file/Score_Genre_Earnings_Titles.csv"
Score_Genre_Earnings_Titles_df.to_csv(file_path, index=True)